$brainTrainerOrange: #D16B24;
$brainTrainerBlue: #3a5968;
$brainTrainerDarkBlue: #13258B;

.back {
    background-image: url("../../assets/general/niceBackground.png");
    background-repeat: none;

}

.fruitPuzzleDiv {
    position: absolute;
    width: 80%;
    align-self: center;
    margin-left: 12.2%;
    margin-top: 3%;
}

.fruitPuzzleDiv img {
    width: 100%;
}

.ion-canvas, .ion-canvas2, .ion-canvasTitle, .ion-canvas-solution {
    margin: auto;
    padding: 12px;
    // background: linear-gradient(to right, $brainTrainerOrange, $brainTrainerBlue);
}

.ion-canvas {
    width: 1200px;
    height: 750px;
    margin-top: 100px;
}

.ion-canvas-solution {
    width: 900px;
    height: 700px;
}

.innerCanvas {
    background-color: white;
    height: 100%;
    width: 100%;
}

.imgContainer {
    width: 500px;
    margin: auto;
}
.titleDiv {
    width: 300px;
    margin:auto;
    // border: 5px solid transparent;
}

.titleDiv img {
    border: 5px solid transparent;
}

.titleDiv img:hover {
    cursor:pointer;
    border: 5px solid black;
}

.imgContainer img{
    width: 100%;
}
.titleDiv img {
    width: 100%;
}

.buttonContainer {
    width: 100%;
    height: 100%;
    margin-top: 417px;
    padding-top: 5px;
}

.selected {
    border: 5px solid blue!important;
}

.buttonDiv {
    margin-left: 10%;
    display: flex;
}
.patternLogicDiv {
    display: flex;
}
.wordLogicButton {
    // margin-left: 78%;
    background-color:  $brainTrainerOrange;
    font-size: 25px;
    color: white!important;
    visibility: visible!important;
    position: static!important;
    z-index:2;
    margin-left: -5%;
}

.changeNumButton {
    width: 265px;
    color: white;
    font-size: 40px;
    background-color: $brainTrainerOrange;
}
.patternLogicButton {
    background-color:  $brainTrainerOrange;
    font-size: 25px;
    color: white!important;
    visibility: visible!important;
    position: static!important;
    z-index:2;
    margin-left: 4%;
}

.arrowDiv, .arrowLeftDiv {
    width: 90px;
    z-index: 8;
}

.arrowDiv {
    margin-left: 3%;
}


.arrowDiv img {
    width: 100%;
}

.arrowLeftDiv img{
    transform: scaleX(-1);
}

.arrowLeftDiv img {
    width: 100%;
}

.navButtonRow {
    display: flex;
}
.howManyDiv{
    margin: auto;
    padding: 12px;
    background: linear-gradient(to right, $brainTrainerOrange, $brainTrainerBlue);
}

.howManyDivLeft{
    margin:auto;
    padding: 12px;
    background: linear-gradient(to right, $brainTrainerOrange, $brainTrainerBlue);
}

.numberDiv2 {
    margin-top: 406px;

}

.white {
    background-color: white;
    width: 1130px;
    height: 150px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whiteInner {
    background-color: white;
    width: 200px;
    height: 100px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.howManyText {
    margin: auto;
    color: $brainTrainerOrange;
    font-size: 40px;
    font-weight: bold;
}
.numberDiv {
    height: 120px;
    font-size: 50px;
    border: 0;
    text-align: center;
    width: 130px;
}

.inputWord{
    margin: auto;
    color: $brainTrainerBlue;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2;
}

.disableSelect{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}