<ion-content class="back" padding>
    <div class="back">

      <!-- Navigation -->
        <ion-row>
            <ion-col size="4">
                <div class="patternLogicDiv">
                    <div class="arrowLeftDiv">
                        <img src="../../assets/general/orangeArrow.png"/>
                    </div>
                  <ion-button class="patternLogicButton" color="null" (click)="goToFruitPuzzle()">Fruit Puzzle </ion-button>
                </div>
            </ion-col>
            <ion-col size="5">      </ion-col>
            <ion-col size="3">
                <div class="buttonDiv">
                    <ion-button class="wordLogicButton" color="null" (click)="goToPatternPuzzle()">Pattern Puzzle </ion-button>
                    <div class="arrowDiv">
                        <img src="../../assets/general/orangeArrow.png"/>
                    </div>
                </div>
            </ion-col>
          </ion-row>
      <!-- End of Navigation -->

        <div class="fruitPuzzleDiv">
            <img src="../../assets/general/WordPuzzle.png"/>
        </div>
        <ion-row>
            <ion-col size="2" padding>
                <div class="numberDiv2">
                    <ion-button class="changeNumButton" color="null" (click)="add($event)"> + </ion-button>
                    <div class="howManyDivLeft">
                        <div class="whiteInner">
                            <ion-input type="number" class="numberDiv" [(ngModel)]="number"></ion-input>
                        </div>
                    </div>
                    <ion-button class="changeNumButton" color="null" (click)="subtract($event)"> - </ion-button>
                </div>
              
                <p class="howManyText disableSelect" text-center>
                    Puzzle No
                </p>
            </ion-col>
            <ion-col size="8">
                <div class="imgContainer">
                    <img src="../../assets/general/BrainTrainerLogo.png" />
                </div>
                <!-- Add word input here-->

                <!-- HOW MANY PDF'S DID YOU WANT TO DOWNLOAD -->
                <div class="howManyDiv">
                  <div class="white">
                      <p class="inputWord disableSelect" text-center> 
                          {{word}}
                        </p>
                  </div>
                </div>
                <p class="howManyText disableSelect" text-center> 
                    Use your keyboard to type a word, [ENTER] = generate
                </p>
                <!-- END OF HOW MANY PDF'S DID YOU WANT TO DOWNLOAD -->

                <div class="ion-canvas">
                    <div class="innerCanvas">
                        <canvas #canvas></canvas>
                    </div>
                  </div>
            </ion-col>
            <ion-col size="2">
                <div class="numberDiv2">
                    <div class="howManyDivLeft">
                        <div class="whiteInner">
                            {{word.length}}  / 66
                        </div>
                    </div>
                </div>
            </ion-col>
          </ion-row>
      
         
            
        </div>
    
</ion-content>
