<!-- <ion-header>
  <ion-toolbar>
    <ion-title>pattern</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="back" padding>
    <div class="back">

      <!-- Navigation -->
        <ion-row>
            <ion-col size="4">
                <div class="patternLogicDiv">
                    <div class="arrowLeftDiv">
                        <img src="../../assets/general/orangeArrow.png"/>
                    </div>
                  <ion-button class="patternLogicButton" color="null" (click)="goToWordPuzzle()">Word Puzzle </ion-button>
                </div>
            </ion-col>
            <ion-col size="5">      </ion-col>
            <ion-col size="3">
                <div class="buttonDiv">
                    <ion-button class="wordLogicButton" color="null" (click)="goToFruitPuzzle()">Fruit Puzzle </ion-button>
                    <div class="arrowDiv">
                        <img src="../../assets/general/orangeArrow.png"/>
                    </div>
                </div>
            </ion-col>
          </ion-row>
      <!-- End of Navigation -->


        <ion-row>
            <ion-col size="2">
             
            </ion-col>
            <ion-col size="8">
         <!-- PUZZLE EXPORT CANVAS #1-->
         <div class="imgContainer">
            <!-- <img src="../../assets/newBrainTrainerLogo.png" /> -->
             <img src="../../assets/general/BrainTrainerLogo.png" />
          </div>
          <div class="ion-canvas">
            <div class="innerCanvas">
                <canvas #canvas></canvas>
            </div>
          </div>
        
          <!-- END OF PUZZLE EXPORT CANVAS #1-->
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
      
          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
               <!-- PUZZLE EXPORT CANVAS #2-->
          <div class="ion-canvas-solution">
            <div class="innerCanvas">
                <canvas #canvasSolution></canvas>
            </div>
          </div>
        
          <!-- END OF PUZZLE EXPORT CANVAS #2-->
            </ion-col>
            <ion-col size="2"></ion-col>
      
          </ion-row>
            
        </div>
    
</ion-content>
