$brainTrainerOrange: #D16B24;
$brainTrainerBlue: #3a5968;
$brainTrainerDarkBlue: #13258B;

.back {
    background-image: url("../../assets/general/niceBackground.png");
    background-repeat: none;

}

.fruitPuzzleDiv {
    position: absolute;
    width: 80%;
    align-self: center;
    margin-left: 13.5%;
}

.fruitPuzzleDiv img {
    width: 100%;
}

.ion-canvas, .ion-canvas2, .ion-canvasTitle, .ion-canvas-solution {
    margin: auto;
    padding: 12px;
    background: linear-gradient(to right, $brainTrainerOrange, $brainTrainerBlue);
}

.ion-canvas {
    width: 900px;
    height: 800px;
}

.ion-canvas-solution {
    width: 900px;
    height: 700px;
}

.innerCanvas {
    background-color: white;
    height: 100%;
    width: 100%;
}

.imgContainer {
    width: 500px;
    margin: auto;
}
.titleDiv {
    width: 300px;
    margin:auto;
    // border: 5px solid transparent;
}

.titleDiv img {
    border: 5px solid transparent;
}

.titleDiv img:hover {
    cursor:pointer;
    border: 5px solid black;
}

.imgContainer img{
    width: 100%;
}
.titleDiv img {
    width: 100%;
}

.buttonContainer {
    width: 100%;
    height: 100%;
    margin-top: 417px;
    padding-top: 5px;
}

.selected {
    border: 5px solid blue!important;
}

.buttonDiv {
    margin-left: 10%;
    display: flex;
}
.patternLogicDiv {
    display: flex;
}
.wordLogicButton {
    // margin-left: 78%;
    background-color:  $brainTrainerOrange;
    font-size: 25px;
    color: white!important;
    visibility: visible!important;
    position: static!important;
    z-index:2;
    margin-left: -5%;
}

.patternLogicButton {
    background-color:  $brainTrainerOrange;
    font-size: 25px;
    color: white!important;
    visibility: visible!important;
    position: static!important;
    z-index:2;
    margin-left: 4%;
}

.arrowDiv, .arrowLeftDiv {
    width: 90px;
    z-index: 8;
}

.arrowDiv {
    margin-left: 3%;
}


.arrowDiv img {
    width: 100%;
}

.arrowLeftDiv img{
    transform: scaleX(-1);
}

.arrowLeftDiv img {
    width: 100%;
}

.navButtonRow {
    display: flex;
}