$brainTrainerOrange: #D16B24;
$brainTrainerBlue: #3a5968;
$brainTrainerDarkBlue: #13258B;

.back {
    background-image: url("../../assets/general/niceBackground.png");
    background-repeat: none;
}

.mergeText {
    font-size: 25px;
}

.buttonContainer2 {
    width: 100%;
    margin-top: 417px;
    padding-top: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.solutionButton{
    width: 80px;
    height: 30px;
    color: $brainTrainerBlue;
    border: 2px solid $brainTrainerDarkBlue;
    font-size: 22px;
}

.solutionButton:hover {
    cursor: pointer;
}

.selectedButton {
    color: white;
    background-color: $brainTrainerDarkBlue;
}
.title {
    font-size: 35px;
    font-weight: bold;
    color: $brainTrainerDarkBlue;
}


.checkbox {
    margin:auto;
    width: 40px;
    height: 40px;
}
.amountInput {
    width: 100%!important;
    margin: auto;
    color: $brainTrainerBlue;
    font-size: 40px;
    border: 5px solid $brainTrainerDarkBlue;
    
}
.generateButton {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: $brainTrainerDarkBlue;
    width: 100%;
    height: 80px;
    font-size: 25px;
    border: 5px solid $brainTrainerDarkBlue;
    left: 0;
    margin-top: 20px;
}
.fruitPuzzleDiv {
    position: absolute;
    width: 80%;
    align-self: center;
    margin-left: 13.5%;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.fruitPuzzleDiv img {
    width: 100%;
}

.ion-canvas, .ion-canvas2, .ion-canvasTitle, .ion-canvas-solution {
    margin: auto;
    padding: 12px;
    // background: linear-gradient(to right, $brainTrainerOrange, $brainTrainerBlue);
}

.ion-canvas {
    width: 900px;
    height: 950px;
}

.ion-canvas-solution {
    width: 900px;
    height: 700px;
}

.innerCanvas {
    background-color: white;
    height: 100%;
    width: 100%;
}

.imgContainer {
    width: 500px;
    margin: auto;
}
.titleDiv {
    width: 300px;
    margin:auto;
    // border: 5px solid transparent;
}

.titleDiv img {
    border: 5px solid transparent;
}

.titleDiv img:hover {
    cursor:pointer;
    border: 5px solid black;
}

.imgContainer img{
    width: 100%;
}
.titleDiv img {
    width: 100%;
}

.buttonContainer {
    width: 100%;
    height: 100%;
    margin-top: 417px;
    padding-top: 5px;
}

.selected {
    border: 5px solid blue!important;
}

.buttonDiv {
    margin-left: 10%;
    display: flex;
}
.patternLogicDiv {
    display: flex;
}
.wordLogicButton {
    // margin-left: 78%;
    background-color:  $brainTrainerOrange;
    font-size: 25px;
    color: white!important;
    visibility: visible!important;
    position: static!important;
    z-index:2;
    margin-left: -5%;
}

.patternLogicButton {
    background-color:  $brainTrainerOrange;
    font-size: 25px;
    color: white!important;
    visibility: visible!important;
    position: static!important;
    z-index:2;
    margin-left: 4%;
}

.arrowDiv, .arrowLeftDiv {
    width: 90px;
    z-index: 8;
}

.arrowDiv {
    margin-left: 3%;
}


.arrowDiv img {
    width: 100%;
}

.arrowLeftDiv img{
    transform: scaleX(-1);
}

.arrowLeftDiv img {
    width: 100%;
}

.navButtonRow {
    display: flex;
}