<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="back" padding>
  <div class="back">
    <ion-row>
      <ion-col size="4">
          <div class="patternLogicDiv">
              <div class="arrowLeftDiv">
                  <img src="../../assets/general/orangeArrow.png"/>
              </div>
            <ion-button class="patternLogicButton" color="null" (click)="goToPatternPuzzlePage()"> Pattern Puzzle </ion-button>
          </div>
      </ion-col>
      <ion-col size="5">      </ion-col>
      <ion-col size="3">
          <div class="buttonDiv">
              <ion-button class="wordLogicButton" color="null" (click)="goToWordPuzzlePage()">Word Puzzle </ion-button>
              <div class="arrowDiv">
                  <img src="../../assets/general/orangeArrow.png"/>
              </div>
          </div>
      </ion-col>
    </ion-row>
    <!-- <div class="navButtonRow">
        <div class="patternLogicDiv">
            <div class="arrowLeftDiv">
                <img src="../../assets/general/orangeArrow.png"/>
            </div>
          <ion-button class="patternLogicButton" color="null"> Pattern Puzzle Page</ion-button>
        </div> -->
        <!-- <div class="buttonDiv">
            <ion-button class="wordLogicButton" color="null">Word Puzzle Page</ion-button>
            <div class="arrowDiv">
                <img src="../../assets/general/orangeArrow.png"/>
            </div>
        </div>
    </div> -->
    
    <div class="fruitPuzzleDiv">
      <img src="../../assets/general/fruitPuzzleBanner (1).png"/>
    </div>
    <ion-row>
      <ion-col size="2">
        <div class="buttonContainer">
          <div class="titleDiv" (click)="setActiveDifficulty(1)" >
            <img src="../../assets/titles/Junior.png" [class.selected]="difficulty == 'JUNIOR'"/>
          </div>
          <div class="titleDiv"  (click)="setActiveDifficulty(2)" >
              <img src="../../assets/titles/Medium.png" [class.selected]="difficulty == 'MEDIUM'"/>
          </div>
          <div class="titleDiv"  (click)="setActiveDifficulty(3)" >
              <img src="../../assets/titles/Hard.png" [class.selected]="difficulty == 'HARD'"/>
          </div>
        </div>
      </ion-col>
      <ion-col size="8">
   <!-- PUZZLE EXPORT CANVAS #1-->
   <div class="imgContainer">
      <!-- <img src="../../assets/newBrainTrainerLogo.png" /> -->
       <img src="../../assets/general/BrainTrainerLogo.png" />
    </div>
    <div class="ion-canvas">
      <div class="innerCanvas">
          <canvas #canvas></canvas>
      </div>
    </div>
  
    <!-- END OF PUZZLE EXPORT CANVAS #1-->
      </ion-col>
      <ion-col size="2" class="ion-text-center">
          <div class="buttonContainer2 ion-text-center">
              <span class="title">
                Download
              </span>
              <ion-input type="number" class="amountInput ion-text-center" [(ngModel)]="puzzlesToDownload"></ion-input>
              <div class="row">
                  <span class="mergeText"> Merge pdfs ? </span>
                  <ion-checkbox class="checkbox" color="dark"  [(ngModel)]="checkbox"></ion-checkbox>
              </div>
              <span class="title">
                  Solutions p/page
                </span>
                <div class="row">
                    <div class="solutionButton" [class.selectedButton]="solutionsPerPage == 2" (click)="setSolutionsPerPage(2)">
                        2
                      </div>
                      <div class="solutionButton" [class.selectedButton]="solutionsPerPage == 4" (click)="setSolutionsPerPage(4)">
                        4
                      </div>
                      <div class="solutionButton" [class.selectedButton]="solutionsPerPage == 6" (click)="setSolutionsPerPage(6)">
                        6
                      </div>
                </div>
            
              <button class="generateButton" (click)="downloadPDF()"> Download PDF </button>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
         <!-- PUZZLE EXPORT CANVAS #2-->
    <div class="ion-canvas-solution">
      <div class="innerCanvas">
          <canvas #canvasSolution></canvas>
      </div>
    </div>
  
    <!-- END OF PUZZLE EXPORT CANVAS #2-->
      </ion-col>
      <ion-col size="2"></ion-col>

    </ion-row>
      
  </div>

</ion-content>
